/*------------ID---------------------*/

#header{
    -fx-background-color: #FFFFFF;
}

#side-bar{
    -fx-background-color: #FDFDFD;
}

#center-stage{
    -fx-background-color: #FAFAFB;
}

#application-title{
    -fx-font-size: 32px;
}

#cost-item {
    -fx-background-radius: 20px;
    -fx-background-color: #D4D4D4;
}

/*------------BUTTONS-----------------*/

/*ProjectButton*/
.project-buttons{
    -fx-background-color: #E8C261;
    -fx-background-radius: 30px;
    -fx-text-align: center;
    -fx-cursor: hand;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 2,0,2,2);
}

.project-buttons:hover{
    -fx-background-color: #DEB756;
}

.project-buttons:pressed{
    -fx-background-color: #D4AD4C;
}

.project-buttons:selected{
    -fx-background-color: #C8A140;
    -fx-effect: innershadow( gaussian , rgba(0,0,0,0.5) , 3,0,2,2 );
}

/*CategoryButton*/
.category-button{
    -fx-background-color: #A0D1FA;
    -fx-background-radius: 30px;
    -fx-text-align: center;
    -fx-cursor: hand;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 2,0,2,2);
}

.category-button:hover{
    -fx-background-color: #96C7F0;
}

.category-button:pressed{
    -fx-background-color: #8CBDE6;
}

/*CancelButton*/
.cancel-button{
    -fx-background-color: #CFCFCF;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 2,0,2,2);
}

.cancel-button:hover{

}

.cancel-button:pressed{

}

/*ApproveButton*/
.approve-button{
    -fx-background-color: #C44545;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 2,0,2,2);
}

.approve-button:hover{

}

.approve-button:pressed{

}

/*ChangeViewButton*/
.change-view-button{

}

.change-view-button:hover{

}

.change-view-button:pressed{

}

/*------------FONT-SIZES-----------------*/

.standard-text{
    -fx-font-size: 18px;
}

.caption-text{
    -fx-font-size: 24px;
}

.title-text{
    -fx-font-size: 28px;
}

/*------------BACKGROUNDS----------------*/

.modal-window-shadow{
    -fx-background-color: rgba(0, 0, 0, 0.75);
}

.white-background{
    -fx-background-color: white;
}

.background-image{
    -fx-background-image: url(/images/bakgrund-karta.jpg);
}

.grey-out-text-field{
    -fx-background-color: lightgrey;
    -fx-border-color: #B6C4C3;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}