#header{
    -fx-background-color: #FFFFFF;
}

#side-bar{
    -fx-background-color: #FDFDFD;
}

#center-stage{
    -fx-background-color: #FAFAFB;
}

#application-title{
    -fx-font-size: 32px;
}

.project-buttons{
    -fx-background-color: #E8C261;
    -fx-font-size: 14px;
    -fx-background-radius: 30px;
    -fx-text-align: center;
}

.project-buttons:pressed{
    -fx-background-color: #FAFAFB;
}

.project-buttons:selected{
    -fx-background-color: #000000;
}

.modal-window-shadow{
    -fx-background-color: rgba(0, 0, 0, 0.75);
}

.white-background{
    -fx-background-color: white;
}

#defaultanchorpane-background{
    -fx-background-image: url(/images/bakgrund-karta.jpg);

}